<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" style="background-image: url('assets/img/bg11.jpg');"></div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">404</h1>
                <h3>Oops! This page doesn't exist.</h3>
                <br>
                <a [routerLink]="['/']" class="btn btn-primary btn-round btn-lg">Return Home</a>
            </div>
        </div>
    </div>
    <app-footer></app-footer> <!-- Using your new shared footer! -->
</div>