/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

/* =========================================
   HEADER ALIGNMENT & RESPONSIVENESS
   ========================================= */

/* Desktop Default */
.page-header .content-center {
    position: absolute !important;
    /* 60% moves the center point down to clear the navbar, keeping logo & text together */
    top: 33% !important; 
    left: 50% !important;
    right: 50% !important;
    /* This centers it perfectly horizontally and vertically based on the top % */
    transform: translate(-50%, -50%) !important;
    width: 100% !important;
    z-index: 2;
    text-align: center !important;
}

/* Fix spacing between Logo and Company Name */
.page-header h1.title, 
.page-header .h1-seo {
    padding-top: 0 !important; /* REMOVED massive padding to close the gap */
    margin-top: 30px !important; /* Small natural gap between logo and text */
    display: block;
    font-weight: 700;
}

.page-header .title {
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.navbar {
    z-index: 1050;
}

/* --- MOBILE SPECIFIC FIXES (Phones & Tablets) --- */
@media screen and (max-width: 991px) {
    /* On mobile, move the center up slightly */
    .page-header .content-center {
        top: 55% !important; 
    }

    .page-header h1.title, 
    .page-header .h1-seo {
        font-size: 2.2em !important; 
        margin-top: 20px !important; 
    }

    .page-header h3 {
        font-size: 1.1em !important; 
    }
}


/* =========================================
   IMAGE SHAPE FIX (PERFECT CIRCLES)
   ========================================= */

.image-wrapper {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important; 
    display: inline-block !important;
    position: relative;
    overflow: hidden; 
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.unstealable-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important; 
    border-radius: 50% !important;
}

.profile-content .image-wrapper {
    width: 160px !important;
    height: 160px !important;
}


/* =========================================
   MEDIA SECURITY LAYERS
   ========================================= */

.unstealable-image {
    pointer-events: none;       
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
    -webkit-user-drag: none;    
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; 
    z-index: 10;                
    pointer-events: auto;       
    cursor: default;
}