<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/bg5.jpg');">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">Meet the Team</h1>
                <div class="text-center">
                    <a href="https://www.facebook.com/ssplbharat/" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/spirecrestindia/" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/spirecrest/" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">The Spirecrest Family</h2>
            <div class="team">
                
                <!-- 1. LEADERSHIP ROW -->
                <h4 class="title text-left">Leadership</h4>
                <div class="row">
                    <div class="col-md-3" *ngFor="let member of leadership">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img [src]="member.image" [alt]="member.name" class="unstealable-image">
                            </div>
                            <h4 class="title">
                                <a [routerLink]="['/profile', member.key]">{{ member.name }}</a>
                            </h4>
                            <p class="category text-primary">{{ member.role }}</p>
                            <!-- Optional: Show status indicator if 'On Leave' -->
                            <span *ngIf="member.status !== 'Active'" class="badge badge-warning">{{ member.status }}</span>
                        </div>
                    </div>
                </div>

                <!-- 2. MANAGEMENT ROW -->
                <br>
                <h4 class="title text-left">Management & Operations</h4>
                <div class="row">
                    <div class="col-md-3" *ngFor="let member of management">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img [src]="member.image" [alt]="member.name" class="unstealable-image">
                            </div>
                            <h4 class="title">
                                <a [routerLink]="['/profile', member.key]">{{ member.name }}</a>
                            </h4>
                            <p class="category text-primary">{{ member.role }}</p>
                            <span *ngIf="member.status !== 'Active'" class="badge badge-warning">{{ member.status }}</span>
                        </div>
                    </div>
                </div>

                <!-- 3. PROJECT & HR ROW -->
                <div class="row">
                    <div class="col-md-3" *ngFor="let member of projectHr">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img [src]="member.image" [alt]="member.name" class="unstealable-image">
                            </div>
                            <h4 class="title">
                                <a [routerLink]="['/profile', member.key]">{{ member.name }}</a>
                            </h4>
                            <p class="category text-primary">{{ member.role }}</p>
                            <span *ngIf="member.status !== 'Active'" class="badge badge-warning">{{ member.status }}</span>
                        </div>
                    </div>
                </div>

                <!-- 4. DEVELOPMENT ROW -->
                <br>
                <h4 class="title text-left">Development & Support</h4>
                <div class="row">
                    <div class="col-md-3" *ngFor="let member of development">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img [src]="member.image" [alt]="member.name" class="unstealable-image">
                            </div>
                            <h4 class="title">
                                <a [routerLink]="['/profile', member.key]">{{ member.name }}</a>
                            </h4>
                            <p class="category text-primary">{{ member.role }}</p>
                            <span *ngIf="member.status !== 'Active'" class="badge badge-warning">{{ member.status }}</span>
                        </div>
                    </div>
                </div>

                <!-- 5. EXTENDED SUPPORT ROW -->
                <div class="row">
                    <div class="col-md-3" *ngFor="let member of support">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img [src]="member.image" [alt]="member.name" class="unstealable-image">
                            </div>
                            <h4 class="title">
                                <a [routerLink]="['/profile', member.key]">{{ member.name }}</a>
                            </h4>
                            <p class="category text-primary">{{ member.role }}</p>
                            <span *ngIf="member.status !== 'Active'" class="badge badge-warning">{{ member.status }}</span>
                        </div>
                    </div>
                </div>

                <!-- 6. TEAM MEMBERS ROW -->
                <div class="row">
                    <div class="col-md-3" *ngFor="let member of team">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img [src]="member.image" [alt]="member.name" class="unstealable-image">
                            </div>
                            <h4 class="title">
                                <a [routerLink]="['/profile', member.key]">{{ member.name }}</a>
                            </h4>
                            <p class="category text-primary">{{ member.role }}</p>
                            <span *ngIf="member.status !== 'Active'" class="badge badge-warning">{{ member.status }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>