<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/bg5.jpg');">
        </div>
        <div class="content-center">
            <div class="container">
                <h1 class="title">Meet the Team</h1>
                <div class="text-center">
                    <a href="https://www.facebook.com/ssplbharat/" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/spirecrestindia/" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/spirecrest/" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">The Spirecrest Family</h2>
            <div class="team">
                
                <h4 class="title text-left">Leadership</h4>
                <div class="row">
                    <!-- Aum -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppaum.jpg" alt="Aum" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'aum']">Aum</a></h4>
                            <p class="category text-primary">Founder</p>
                        </div>
                    </div>

                    <!-- Deshesh -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppdeshesh.jpg" alt="Deshesh" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'deshesh']">Deshesh</a></h4>
                            <p class="category text-primary">Director</p>
                        </div>
                    </div>

                    <!-- Saurabh -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppsaurabh.jpg" alt="Saurabh" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'saurabh']">Er. Saurabh</a></h4>
                            <p class="category text-primary">Strategic Advisor</p>
                        </div>
                    </div>

                    <!-- Laraib -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/pplaraib.jpg" alt="Laraib" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'laraib']">Ar. Laraib</a></h4>
                            <p class="category text-primary">Consulting Architect</p>
                        </div>
                    </div>
                </div>

                <!-- Management & Operations -->
                <br>
                <h4 class="title text-left">Management & Operations</h4>
                <div class="row">
                    <!-- Antara -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppantara.jpg" alt="Antara" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'antara']">Antara</a></h4>
                            <p class="category text-primary">COO</p>
                        </div>
                    </div>
                    <!-- Anshuman -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppanshuman.jpg" alt="Anshuman" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'anshuman']">Er. Anshuman</a></h4>
                            <p class="category text-primary">Innovation Catalyst</p>
                        </div>
                    </div>
                    <!-- Rahul -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/pprahul.jpg" alt="Rahul" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'rahul']">Prof. Rahul</a></h4>
                            <p class="category text-primary">Business Adviser</p>
                        </div>
                    </div>
                    <!-- Aakash -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppaakash.jpg" alt="Aakash" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'aakash']">Er. Aakash</a></h4>
                            <p class="category text-primary">External Consultant</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Shashank -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppshashank.jpg" alt="Shashank" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'shashank']">Er. Shashank</a></h4>
                            <p class="category text-primary">Project Collaborator</p>
                        </div>
                    </div>
                    <!-- Prachi -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppprachi.jpg" alt="Prachi" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'prachi']">Prachi</a></h4>
                            <p class="category text-primary">HRM</p>
                        </div>
                    </div>
                    <!-- Astha -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppastha.jpg" alt="Astha" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'astha']">Astha</a></h4>
                            <p class="category text-primary">Biz. Dev. Exe.</p>
                        </div>
                    </div>
                    <!-- Shristi -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppshristi.jpg" alt="Shristi" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'shristi']">Shristi</a></h4>
                            <p class="category text-primary">Growth Facilitator</p>
                        </div>
                    </div>
                </div>

                <!-- Development & Support -->
                <br>
                <h4 class="title text-left">Development & Support</h4>
                <div class="row">
                    <!-- Sanchita -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppsanchita.jpg" alt="Sanchita" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'sanchita']">Sanchita</a></h4>
                            <p class="category text-primary">Dev Coordinator</p>
                        </div>
                    </div>
                    <!-- Kavya -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppkavya.jpg" alt="Kavya" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'kavya']">Kavya</a></h4>
                            <p class="category text-primary">DS/AIML</p>
                        </div>
                    </div>
                    <!-- Janvi -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppjanvi.jpg" alt="Janvi" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'janvi']">Janvi</a></h4>
                            <p class="category text-primary">Business Operations</p>
                        </div>
                    </div>
                    <!-- Isha -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppisha.jpg" alt="Isha" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'isha']">Isha</a></h4>
                            <p class="category text-primary">Market Advisor</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Srishti (CRGO) -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppsrishti.jpg" alt="Srishti" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'srishti_crgo']">Srishti</a></h4>
                            <p class="category text-primary">CRGO</p>
                        </div>
                    </div>
                    <!-- Anushka -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppanushka.jpg" alt="Anushka" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'anushka']">Anushka</a></h4>
                            <p class="category text-primary">Project Co-ord.</p>
                        </div>
                    </div>
                    <!-- Ekta -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppekta.jpg" alt="Ekta" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'ekta']">Ekta</a></h4>
                            <p class="category text-primary">Customer Support</p>
                        </div>
                    </div>
                    <!-- Vaibhavi -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppvaibhavi.jpg" alt="Vaibhavi" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'vaibhavi']">Vaibhavi</a></h4>
                            <p class="category text-primary">Team Member</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Saloni -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppsaloni.jpg" alt="Saloni" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'saloni']">Saloni</a></h4>
                            <p class="category text-primary">Team Member</p>
                        </div>
                    </div>
                    <!-- Shivani -->
                    <div class="col-md-3">
                        <div class="team-player">
                            <div class="image-wrapper img-raised rounded-circle">
                                <div class="image-overlay"></div>
                                <img src="assets/img/team/ppshivani.jpg" alt="Shivani" class="unstealable-image">
                            </div>
                            <h4 class="title"><a [routerLink]="['/profile', 'shivani']">Shivani</a></h4>
                            <p class="category text-primary">Team Member</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Spirecrest Solutions Pvt. Ltd.
            </div>
        </div>
    </footer>
</div>