<footer class="footer" data-background-color="black">
    
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://www.twitter.com/spirecrestindia/" target="_blank">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/spirecrestindia/" target="_blank">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/spirecrest/" target="_blank">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/spirecrest" target="_blank">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <div class="copyright">
            &copy; {{data | date: 'yyyy'}}, Designed & Coded by <a href="https://www.pcmechanix.in/" target="_blank">PCMECHANIX</a>.
        </div>
    </div>
</footer>